{% if plugin_amqp1_interval is not defined %}
LoadPlugin amqp1
{% else %}
<LoadPlugin amqp1>
   Interval {{ collectd_plugin_amqp1_interval }}
</LoadPlugin>
{% endif %}

<Plugin amqp1>
  <Transport "{{ collectd_plugin_amqp1_transport }}">
    Host "{{ collectd_plugin_amqp1_host }}"
    Port "{{ collectd_plugin_amqp1_port }}"
{% if collectd_plugin_amqp1_user is defined %}
    User "{{ collectd_plugin_amqp1_user }}"
{% endif %}
{% if collectd_plugin_amqp1_password is defined %}
    Password "{{ collectd_plugin_amqp1_password }}"
{% endif %}
    Address "{{ collectd_plugin_amqp1_address }}"
{% if collectd_plugin_amqp1_retry_delay is defined %}
    RetryDelay {{ collectd_plugin_amqp1_retry_delay }}
{% endif %}
{% if collectd_plugin_amqp1_send_queue_limit is defined %}
    SendQueueLimit {{ collectd_plugin_amqp1_send_queue_limit }}
{% endif %}
{% for instance in collectd_plugin_amqp1_instances %}
    <Instance "{{ instance }}">
{% if "format" in collectd_plugin_amqp1_instances[instance] %}
       Format {{ collectd_plugin_amqp1_instances[instance].format }}
{% endif %}
{% if "presettle" in collectd_plugin_amqp1_instances[instance] %}
       PreSettle {{ collectd_plugin_amqp1_instances[instance].presettle | string | lower }}
{% endif %}
{% if "notify" in collectd_plugin_amqp1_instances[instance] %}
       Notify {{ collectd_plugin_amqp1_instances[instance].notify | string | lower }}
{% endif %}
{% if "store_rates" in collectd_plugin_amqp1_instances[instance] %}
       StoreRates {{ collectd_plugin_amqp1_instances[instance].store_rates | string | lower }}
{% endif %}
{% if "graphite_prefix" in collectd_plugin_amqp1_instances[instance] %}
       GraphitePrefix {{ collectd_plugin_amqp1_instances[instance].graphite_prefix }}
{% endif %}
{% if "graphite_postfix" in collectd_plugin_amqp1_instances[instance] %}
       GraphitePostfix {{ collectd_plugin_amqp1_instances[instance].graphite_postfix }}
{% endif %}
{% if "graphite_escape_char" in collectd_plugin_amqp1_instances[instance] %}
       GraphiteEscapeChar {{ collectd_plugin_amqp1_instances[instance].graphite_escape_char }}
{% endif %}
{% if "graphite_separate_instancess" in collectd_plugin_amqp1_instances[instance] %}
       GraphiteSeparateInstances {{ collectd_plugin_amqp1_instances[instance].graphite_separate_instances | string | lower }}
{% endif %}
{% if "graphite_always_append_ds" in collectd_plugin_amqp1_instances[instance] %}
       GraphiteAlwaysAppendDS {{ collectd_plugin_amqp1_instances[instance].graphite_always_append_ds | string | lower }}
{% endif %}
{% if "graphite_preserve_separator" in collectd_plugin_amqp1_instances[instance] %}
       GraphitePreserveSeperator {{ collectd_plugin_amqp1_instances[instance].graphite_preserve_separator | string | lower }}
{% endif %}
    </Instance>
{% endfor %}
  </Transport>
</Plugin>
