#TODO: Add new value for Host and port
#TODO: create a loop to parse input and generate the Instance members

{% if plugin_amqp1_interval is not defined %}
LoadPlugin amqp1
{% else %}
<LoadPlugin amqp1>
   Interval {{ collectd_plugin_amqp1_interval }}
</LoadPlugin>
{% endif %}

<Plugin amqp1>
  <Transport "metrics">
    Host "{{ collectd_plugin_amqp1_host }}"
    Port "{{ collectd_plugin_amqp1_port }}"
    Address "{{ collectd_plugin_amqp1_address }}"
{% if collectd_plugin_amqp1_retry_delay is defined %}
    RetryDelay {{ collectd_plugin_amqp1_retry_delay }}
{% endif %}
    <Instance "openshift-notify">
        Format JSON
        PreSettle false
        Notify true
    </Instance>
    <Instance "openshift-telemetry">
        Format JSON
        PreSettle false
    </Instance>
  </Transport>
</Plugin>
