# Hostname localhost
FQDNLookup true

AutoLoadPlugin false
{% if "libpodstats" in collectd_plugins %}
TypesDB "/usr/share/collectd/types.db" "/usr/share/collectd/types.db.libpodstats"
{% else %}
TypesDB "/usr/share/collectd/types.db"
{% endif %}
Interval "{{ collectd_interval }}"
Timeout 2
ReadThreads 5
WriteThreads 5

{% if "logfile" in collectd_plugins %}
LoadPlugin "logfile"
{% endif %}

<Include "{{ collectd_conf_output_dir}}" >
  Filter "*.conf"
</Include>
