{% if collectd_plugin_connectivity_interval is not defined %}
LoadPlugin connectivity
{% else %}
<LoadPlugin connectivity>
   Interval {{ collectd_plugin_connectivity_interval }}
</LoadPlugin>
{% endif %}

LoadPlugin connectivity

<Plugin connectivity>
{% for interface in collectd_plugin_connectivity_interface %}
  Interface "{{ interface }}"
{% endfor %}
{% if collectd_plugin_connectivity_ignore_selected is defined %}
  IgnoreSelected {{ collectd_plugin_connectivity_ignore_selected }}
{% endif %}
</Plugin>
