{% if collectd_plugin_contextswitch_interval is not defined %}
LoadPlugin contextswitch
{% else %}
<LoadPlugin contextswitch>
   Interval {{ collectd_plugin_contextswitch_interval }}
</LoadPlugin>
{% endif %}


