# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_cpu_interval is not defined %}
LoadPlugin cpu
{% else %}
<LoadPlugin cpu>
   Interval {{ collectd_plugin_cpu_interval }}
</LoadPlugin>
{% endif %}

<Plugin "cpu">
  ReportByCpu "{{ collectd_plugin_cpu_reportbycpu }}"
  ReportByState "{{ collectd_plugin_cpu_reportbystate }}"
{% if collectd_plugin_cpu_reportnumcpu is defined %}
  ReportNumCpu "{{ collectd_plugin_cpu_reportnumcpu }}"
{% endif %}
  ValuesPercentage "{{ collectd_plugin_cpu_valuespercentage }}"
{% if collectd_plugin_cpu_reportgueststate is defined %}
  ReportGuestState "{{ collectd_plugin_cpu_reportgueststate }}"
{% endif %}
{% if collectd_plugin_cpu_subtractgueststate is defined %}
  SubtractGuestState "{{ collectd_plugin_cpu_subtractgueststate }}"
{% endif %}
</Plugin>
