# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_cpufreq_interval is not defined %}
LoadPlugin cpufreq
{% else %}
<LoadPlugin cpufreq>
   Interval {{ collectd_plugin_cpufreq_interval }}
</LoadPlugin>
{% endif %}

<Plugin "cpufreq">
</Plugin>
