# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_df_interval is not defined %}
LoadPlugin df
{% else %}
<LoadPlugin df>
   Interval {{ collectd_plugin_df_interval }}
</LoadPlugin>
{% endif %}

<Plugin "df">
{% for device in collectd_plugin_df_devices %}
  Device "{{ device }}"
{% endfor %}
{% for mountpoint in  collectd_plugin_df_mountpoints %}
  MountPoint "{{ mountpoint }}"
{% endfor %}
{% for fstype in collectd_plugin_df_fstype %}
  FSType "{{ fstype }}"
{% endfor %}
  IgnoreSelected "{{ collectd_plugin_df_ignoreselected }}"
  ReportByDevice "{{ collectd_plugin_df_reportbydevice }}"
  ReportInodes "{{ collectd_plugin_df_reportinodes }}"
  ValuesAbsolute "{{ collectd_plugin_df_valuesabsolute }}"
  ValuesPercentage "{{ collectd_plugin_df_valuespercentage }}"
</Plugin>
