# Ansible managed
LoadPlugin df

<Plugin "df">
{% for device in collectd_plugin_df_devices %}
  Device "{{ device }}"
{% endfor %}
{% for mountpoint in  collectd_plugin_df_mountpoints %}
  MountPoint "{{ mountpoint }}"
{% endfor %}
{% for fstype in collectd_plugin_df_fstype %}
  FSType "{{ fstype }}"
{% endfor %}
  IgnoreSelected "{{ collectd_plugin_df_ignoreselected }}"
  ReportByDevice "{{ collectd_plugin_df_reportbydevice }}"
  ReportInodes "{{ collectd_plugin_df_reportinodes }}"
  ValuesAbsolute "{{ collectd_plugin_df_valuesabsolute }}"
  ValuesPercentage "{{ collectd_plugin_df_valuespercentage }}"
</Plugin>
