{% if collectd_plugin_df_interval is not defined %}
LoadPlugin df
{% else %}
<LoadPlugin df>
   Interval {{ collectd_plugin_df_interval }}
</LoadPlugin>
{% endif %}

<Plugin "df">
{% for device in collectd_plugin_df_devices %}
  Device "{{ device }}"
{% endfor %}
{% for mountpoint in  collectd_plugin_df_mountpoints %}
  MountPoint "{{ mountpoint }}"
{% endfor %}
{% for fstype in collectd_plugin_df_fstype %}
  FSType "{{ fstype }}"
{% endfor %}
  IgnoreSelected {{ collectd_plugin_df_ignoreselected | string | lower }}
  ReportByDevice {{ collectd_plugin_df_reportbydevice | string | lower }}
  ReportInodes {{ collectd_plugin_df_reportinodes | string | lower }}
{% if collectd_plugin_df_reportreserved is defined %}
  ReportReserved {{ collectd_plugin_df_reportreserved | string | lower }}
{% endif %}
{% if collectd_plugin_df_values_absolute is defined %}
  ValuesAbsolute {{ collectd_plugin_df_valuesabsolute | string | lower }}"
{% endif %}
{% if collectd_plugin_df_valuespercentage is defined %}
  ValuesPercentage {{ collectd_plugin_df_valuespercentage | string | lower }}"
{% endif %}
</Plugin>
