{% if collectd_plugin_ethstat_interval is not defined %}
LoadPlugin ethstat
{% else %}
<LoadPlugin ethstat>
   Interval "{{ collectd_plugin_ethstat_interval }}"
</LoadPlugin>
{% endif %}

<Plugin "ethstat">
{% for interface in collectd_plugin_ethstat_interfaces %}
    Interface "{{ interface }}"
{% endfor %}
{% for map in collectd_plugin_ethstat_maps %}
    Map {{ map }}
{% endfor %}
{% if collectd_plugin_ethstat_mappedonly is defined %}
    MappedOnly {{ collectd_plugin_ethstat_mappedonly | string | lower }}
{% endif %}
</Plugin>
