{% if collectd_plugin_exec_globals is defined %}
<LoadPlugin exec>
    Globals {{ collectd_plugin_exec_globals }}
</LoadPlugin>
{% else %}
LoadPlugin exec
{% endif %}

<Plugin "exec">
{% for exec in collectd_plugin_exec_exec %}
   Exec "{{ exec.user }}{% if exec.group is defined %}:{{ exec.group }}{% endif %}" "{{ [ exec.exec ] | union(exec.args|default([])) | join(" ") }}"
{% endfor %}
{% for exec in collectd_plugin_exec_notification %}
  NotificationExec "{{ exec.user }}{% if exec.group is defined %}:{{ exec.group }}{% endif %}" "{{ [exec.notification_exec] | union(exec.args | default([])) | join(" ") }}"
{% endfor %}
</Plugin>

