# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_hddtemp_interval is not defined %}
LoadPlugin hddtemp
{% else %}
<LoadPlugin hddtemp>
   Interval {{ collectd_plugin_hddtemp_interval }}
</LoadPlugin>
{% endif %}

<Plugin "hddtemp">
{% if collectd_plugin_hddtemp_host is defined %}
  Host "{{ collectd_plugin_hddtemp_host }}"
{% endif %}
{% if collectd_plugin_hddtemp_port is defined %}
  Port "{{ collectd_plugin_hddtemp_port }}"
{% endif %}
</Plugin>
