{% if collectd_plugin_intel_pmu_interval is not defined %}
LoadPlugin intel_pmu
{% else %}
<LoadPlugin intel_pmu>
   Interval {{ collectd_plugin_intel_pmu_interval }}
</LoadPlugin>
{% endif %}

<Plugin "intel_pmu">
  {% if collectd_plugin_intel_pmu_cores | length > 1 %}
  Cores{% for item in collectd_plugin_intel_pmu_cores %} "{{ item }}"{% endfor %}
  {% endif %}

  {% if collectd_plugin_intel_pmu_report_hardware_cache_events is defined %}
  ReportHardwareCacheEvents {{ collectd_plugin_intel_pmu_report_hardware_cache_events | string | lower }}
  {% endif %}
  {% if collectd_plugin_intel_pmu_report_kernel_pmu_events is defined %}
  ReportKernelPMUEvents {{ collectd_plugin_intel_pmu_report_kernel_pmu_events | string | lower }}
  {% endif %}
  {% if collectd_plugin_intel_pmu_report_software_events is defined %}
  ReportSoftwareEvents {{ collectd_plugin_intel_pmu_report_software_events | string | lower }}
  {% endif %}
  {% if collectd_plugin_intel_pmu_event_list is defined %}
  EventList "{{ collectd_plugin_intel_pmu_event_list }}"
  {% if collectd_plugin_intel_pmu_hardware_events | length > 1 %}
  HardwareEvents "{{ collectd_plugin_intel_pmu_hardware_events | join(',') }}"
  {% endif %}
  {% endif %}
  {% if collectd_plugin_intel_pmu_dispatch_multi_cpu is defined %}
  DispatchMultiPmu {{ collectd_plugin_intel_pmu_dispatch_multi_cpu | string | lower }}
  {% endif %}
</Plugin>
