{% if collectd_plugin_intel_rdt_interval is not defined %}
LoadPlugin intel_rdt
{% else %}
<LoadPlugin intel_rdt>
   Interval {{ collectd_plugin_intel_rdt_interval }}
</LoadPlugin>
{% endif %}

<Plugin "intel_rdt">
{% if collectd_plugin_intel_rdt_cores | length > 0 %}
  Cores "{{ collectd_plugin_intel_rdt_cores | join('" "') }}"
{% endif %}
</Plugin>
