LoadPlugin ipmi

<Plugin ipmi>
  {% for sensor in collectd_plugin_ipmi_sensors %}
  Sensor "{{ sensor }}"
  {% endfor %}
  IgnoreSelected {{ collectd_plugin_ipmi_ignoreselected }}
  NotifySensorAdd {{ collectd_plugin_ipmi_notifysensoradd }}
  NotifySensorRemove {{ collectd_plugin_ipmi_notifysensorremove }}
  NotifySensorNotPresent {{ collectd_plugin_ipmi_notifysensornotpresent }}
</Plugin>
