LoadPlugin irq

<Plugin "irq">
{% for irq in collectd_plugin_irq_irqs %}
    Irq "{{ irq }}"
{% endfor %}
{% if collectd_plugin_irq_ignoreselected is defined %}
    IgnoreSelected "{{ collectd_plugin_irq_ignoreselected }}"
{% endif %}
</Plugin>
