# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_load_interval is not defined %}
LoadPlugin load
{% else %}
<LoadPlugin load>
   Interval {{ collectd_plugin_load_interval }}
</LoadPlugin>
{% endif %}

<Plugin "load">
{% if collectd_plugin_load_reportrelative is defined %}
  ReportRelative {{ collectd_plugin_load_reportrelative| string | lower }}
{% endif %}
</Plugin>
