{% if collectd_plugin_load_interval is not defined %}
LoadPlugin load
{% else %}
<LoadPlugin load>
   Interval {{ collectd_plugin_load_interval }}
</LoadPlugin>
{% endif %}

<Plugin "load">
{% if collectd_plugin_load_report_relative is defined %}
  ReportRelative {{ collectd_plugin_load_report_relative | string | lower }}
{% endif %}
</Plugin>
