# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_memory_interval is not defined %}
LoadPlugin memory
{% else %}
<LoadPlugin memory>
   Interval "{{ collectd_plugin_memory_interval }}"
</LoadPlugin>
{% endif %}

<Plugin "memory">
{% if collectd_plugin_memory_valuesabsolute is defined %}
  ValuesAbsolute {{ collectd_plugin_memory_valuesabsolute| string | lower }}
{% endif %}
{% if collectd_plugin_memory_valuespercentage is defined %}
  ValuesPercentage {{ collectd_plugin_memory_valuespercentage| string | lower }}
{% endif %}
</Plugin>
