LoadPlugin ovs_stats

<Plugin ovs_stats>
{% if collectd_plugin_ovs_stats_port is defined %}
  Port "{{ collectd_plugin_ovs_stats_port }}"
{% endif %}
{% if collectd_plugin_ovs_stats_address is defined %}
  Address "{{ collectd_plugin_ovs_stats_address }}"
{% endif %}
{% if collectd_plugin_ovs_stats_socket is defined %}
  Socket "/var/run/openvswitch/db.sock"
{% endif %}
{% if collectd_plugin_ovs_stats_bridges is defined %}
  Bridges {{ collectd_plugin_ovs_stats_bridges }}
{% endif %}
</Plugin>
