{% if collectd_plugin_processes_interval is not defined %}
LoadPlugin processes
{% else %}
<LoadPlugin processes>
   Interval {{ collectd_plugin_processes_interval }}
</LoadPlugin>
{% endif %}

<Plugin processes>
{% if collectd_plugin_processes_collectfiledescriptor is defined %}
    CollectFileDescriptor {{ collectd_plugin_processes_collectfiledescriptor | string | lower }}
{% endif %}
{% if collectd_plugin_processes_collectcontextswitch is defined %}
    CollectContextSwitch {{ collectd_plugin_processes_collectcontextswitch | string | lower }}
{% endif %}
{% if collectd_plugin_processes_collectmemorymaps is defined %}
    CollectMemoryMaps {{ collectd_plugin_processes_collectmemorymaps | string | lower }}
{% endif %}
{% for process in collectd_plugin_processes_process %}
    <Process "{{ process.name }}" >
{% if process.collectfiledescriptor is defined %}
      CollectFileDescriptor {{ process.collectfiledescriptor | string | lower }}
{% endif %}
{% if process.collectcontextswitch is defined %}
      CollectContextSwitch {{ process.collectcontextswitch | string | lower }}
{% endif %}
    </Process>
{% endfor %}

{% for processmatch in collectd_plugin_processes_processmatch %}
  <ProcessMatch "{{ processmatch.name }}" "{{ processmatch.regex }}">
{% if processmatch.collectfiledescriptor is defined %}
      CollectFileDescriptor {{ processmatch.collectfiledescriptor | string | lower }}
{% endif %}
{% if processmatch.collectcontextswitch is defined %}
      CollectContextSwitch {{ processmatch.collectcontextswitch | string | lower }}
{% endif %}
  </ProcessMatch>
{% endfor %}
</Plugin>
