{% if collectd_plugin_processes_interval is not defined %}
LoadPlugin processes
{% else %}
<LoadPlugin processes>
   Interval {{ collectd_plugin_processes_interval }}
</LoadPlugin>
{% endif %}

<Plugin processes>
{% if collectd_plugin_processes_collect_file_descriptor is defined %}
    CollectFileDescriptor {{ collectd_plugin_processes_collect_file_descriptor | string | lower }}
{% endif %}
{% if collectd_plugin_processes_collect_context_switch is defined %}
    CollectContextSwitch {{ collectd_plugin_processes_collect_context_switch | string | lower }}
{% endif %}
{% if collectd_plugin_processes_collect_memory_maps is defined %}
    CollectMemoryMaps {{ collectd_plugin_processes_collect_memory_maps | string | lower }}
{% endif %}
{% for process in collectd_plugin_processes_processes %}
    <Process "{{ process.name }}" >
{% if process.collect_file_descriptor is defined %}
      CollectFileDescriptor {{ process.collect_file_descriptor | string | lower }}
{% endif %}
{% if process.collect_context_switch is defined %}
      CollectContextSwitch {{ process.collect_context_switch | string | lower }}
{% endif %}
    </Process>
{% endfor %}

{% for process_match in collectd_plugin_processes_process_matches %}
  <ProcessMatch "{{ process_match.name }}" "{{ process_match.regex }}">
{% if process_match.collect_file_descriptor is defined %}
      CollectFileDescriptor {{ process_match.collect_file_descriptor | string | lower }}
{% endif %}
{% if process_match.collect_context_switch is defined %}
      CollectContextSwitch {{ process_match.collect_context_switch | string | lower }}
{% endif %}
  </ProcessMatch>
{% endfor %}
</Plugin>
