{% if collectd_plugin_processes_interval is not defined %}
LoadPlugin processes
{% else %}
<LoadPlugin processes>
   Interval {{ collectd_plugin_processes_interval }}
</LoadPlugin>
{% endif %}

<Plugin processes>
{% if collectd_plugin_processes_collect_file_descriptor is defined %}
    CollectFileDescriptor {{ collectd_plugin_processes_collect_file_descriptor | string | lower }}
{% endif %}
{% if collectd_plugin_processes_collect_context_switch is defined %}
    CollectContextSwitch {{ collectd_plugin_processes_collect_context_switch | string | lower }}
{% endif %}
{% if collectd_plugin_processes_collect_memory_maps is defined %}
    CollectMemoryMaps {{ collectd_plugin_processes_collect_memory_maps | string | lower }}
{% endif %}
{% for process in collectd_plugin_processes_processes %}
    <Process "{{ process }}" >
{% if "collect_file_descriptor" in collectd_plugin_processes_processes[process] %}
      CollectFileDescriptor {{ collectd_plugin_processes_processes[process].collect_file_descriptor | string | lower }}
{% endif %}
{% if "collectd_context_switch" in collectd_plugin_processes_processes[process] %}
      CollectContextSwitch {{ collectd_plugin_processes_processes[process].collect_context_switch | string | lower }}
{% endif %}
    </Process>
{% endfor %}
{% for pm in collectd_plugin_processes_process_matches %}
  <ProcessMatch "{{ pm }}" "{{ collectd_plugin_processes_process_matches[pm].regex }}">
{% if "collect_file_descriptor" in collectd_plugin_processes_process_matches[pm] %}
      CollectFileDescriptor {{ collectd_plugin_processes_process_matches[pm].collect_file_descriptor | string | lower }}
{% endif %}
{% if "collect_context_switch" in collectd_plugin_processes_process_matches[pm] %}
      CollectContextSwitch {{ collectd_plugin_processes_process_matches[pm].collect_context_switch | string | lower }}
{% endif %}
  </ProcessMatch>
{% endfor %}
</Plugin>
