{% if collectd_plugin_procevent_interval is not defined %}
LoadPlugin procevent
{% else %}
<LoadPlugin procevent>
   Interval {{ collectd_plugin_procevent_interval }}
</LoadPlugin>
{% endif %}

<Plugin "procevent">
{% if collectd_plugin_procevent_process is defined %}
    Process "{{ collectd_plugin_procevent_process }}"
{% endif %}
{% if collectd_plugin_procevent_process_regex is defined %}
    ProcessRegex "{{ collectd_plugin_procevent_process_regex }}"
{% endif %}
{% if collectd_plugin_procevent_buffer_length is defined %}
    BufferLength {{ collectd_plugin_procevent_buffer_length }}
{% endif %}
</Plugin>
