{% if collectd_plugin_syslog_interval is not defined %}
LoadPlugin syslog
{% else %}
<LoadPlugin syslog>
   Interval "{{ collectd_plugin_syslog_interval }}"
</LoadPlugin>
{% endif %}

<Plugin "syslog">
{% if collectd_plugin_syslog_log_level is defined %}
  LogLevel {{ collectd_plugin_syslog_log_level }}
{% endif %}
{% if collectd_plugin_syslog_notify_level is defined %}
  NotifyLevel {{ collectd_plugin_syslog_notify_level }}
{% endif %}
</Plugin>
