# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_syslog_interval is not defined %}
LoadPlugin syslog
{% else %}
<LoadPlugin syslog>
   Interval "{{ collectd_plugin_syslog_interval }}"
</LoadPlugin>
{% endif %}

<Plugin "syslog">
{% if collectd_plugin_syslog_loglevel is defined %}
  LogLevel "{{ collectd_plugin_syslog_loglevel }}"
{% endif %}
{% if collectd_plugin_syslog_notifylevel is defined %}
  NotifyLevel "{{ collectd_plugin_syslog_notifylevel }}"
{% endif %}
</Plugin>
