{% if collectd_plugin_turbostat_interval is not defined %}
LoadPlugin turbostat
{% else %}
<LoadPlugin turbostat>
   Interval {{ collectd_plugin_turbostat_interval }}
</LoadPlugin>
{% endif %}

<Plugin "turbostat">
{% if collectd_plugin_turbostat_core_c_states is defined %}
  CoreCstates "{{ collectd_plugin_turbostat_core_c_states }}"
{% endif %}
{% if collectd_plugin_turbostat_package_c_states is defined %}
  PackageCstates "{{ collectd_plugin_turbostat_package_c_states }}"
{% endif %}
{% if collectd_plugin_turbostat_system_management_interrupt is defined %}
  SystemManagementInterrupt {{ collectd_plugin_turbostat_system_management_interrupt | string | lower }}
{% endif %}
{% if collectd_plugin_turbostat_digital_temperature_sensor is defined %}
  DigitalTemperatureSensor {{ collectd_plugin_turbostat_digital_temperature_sensor | string | lower }}
{% endif %}
{% if collectd_plugin_turbostat_package_thermal_management is defined %}
  PackageThermalManagement {{ collectd_plugin_turbostat_package_thermal_management | string | lower }}
{% endif %}
{% if collectd_plugin_turbostat_tcc_activation_temp is defined %}
  TCCActivationTemp "{{ collectd_plugin_turbostat_tcc_activation_temp }}"
{% endif %}
{% if collectd_plugin_turbostat_running_average_power_limit is defined %}
  RunningAveragePowerLimit "{{ collectd_plugin_turbostat_running_average_power_limit }}"
{% endif %}
{% if collectd_plugin_turbostat_logical_core_names is defined %}
  LogicalCoreNames {{ collectd_plugin_turbostat_logical_core_names | string | lower }}
{% endif %}
{% if collectd_plugin_turbostat_restore_affinity_policy is defined %}
  RestoreAffinityPolicy "{{ collectd_plugin_turbostat_restore_affinity_policy }}"
{% endif %}
</Plugin>
