{% if collectd_plugin_uuid_interval is not defined %}
LoadPlugin uuid
{% else %}
<LoadPlugin uuid>
   Interval {{ collectd_plugin_uuid_interval }}
</LoadPlugin>
{% endif %}

<Plugin "uuid">
{% if collectd_plugin_uuid_uuid_file is defined %}
  UUIDFile "{{ collectd_plugin_uuid_uuid_file }}"
{% endif %}
</Plugin>
