# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_uuid_interval is not defined %}
LoadPlugin uuid
{% else %}
<LoadPlugin uuid>
   Interval {{ collectd_plugin_uuid_interval }}
</LoadPlugin>
{% endif %}

<Plugin "uuid">
{% if collectd_plugin_uuid_uuidfile is defined %}
  UUIDFile "{{ collectd_plugin_uuid_uuidfile }}"
{% endif %}
</Plugin>
