# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_virt_interval is not defined %}
LoadPlugin virt
{% else %}
<LoadPlugin virt>
   Interval {{ collectd_plugin_virt_interval }}
</LoadPlugin>
{% endif %}

<Plugin "virt">
  Connection "{{ collectd_plugin_virt_connection }}"
{% if collectd_plugin_virt_refresh_interval is defined %}
  RefreshInterval {{ collectd_plugin_virt_refresh_interval }}
{% endif %}
{% if collectd_plugin_virt_domain is defined %}
  Domain "{{ collectd_plugin_virt_domain }}"
{% endif %}
{% if collectd_plugin_virt_block_device is defined %}
  BlockDevice "{{ collectd_plugin_virt_block_device }}"
{% endif %}
{% if collectd_plugin_virt_interface_device is defined %}
  InterfaceDevice "{{ collectd_plugin_virt_interface_device }}"
{% endif %}
{% if collectd_plugin_virt_ignore_selected is defined %}
  IgnoreSelected "{{ collectd_plugin_virt_ignore_selected }}"
{% endif %}
{% if collectd_plugin_virt_block_device_format is defined %}
  BlockDeviceFormat {{ collectd_plugin_virt_block_device_format }}
{% endif %}
{% if collectd_plugin_virt_block_device_format_basename is defined %}
  BlockDeviceFormatBasename {{ collectd_plugin_virt_block_device_format_basename }}
{% endif %}
{% if collectd_plugin_virt_hostname_format is defined %}
  HostnameFormat {{ collectd_plugin_virt_hostname_format }}
{% endif %}
{% if collectd_plugin_virt_interface_format is defined %}
  InterfaceFormat "{{ collectd_plugin_virt_interface_format }}"
{% endif %}
{% if collectd_plugin_virt_plugin_instance_format is defined %}
  PluginInstanceFormat {{ collectd_plugin_virt_plugin_instance_format }}
{% endif %}
{% if collectd_plugin_virt_instances is defined %}
  Instances "{{ collectd_plugin_virt_instances }}"
{% endif %}
{% if collectd_plugin_virt_extra_stats is defined %}
  ExtraStats "{{ collectd_plugin_virt_extra_stats }}"
{% endif %}
</Plugin>
