# This file was created using the template generator at https://github.com/infrawatch/osp-observability-ansible/tree/plugin_templates_generate/tools/
{% if collectd_plugin_vmem_interval is not defined %}
LoadPlugin vmem
{% else %}
<LoadPlugin vmem>
   Interval {{ collectd_plugin_vmem_interval }}
</LoadPlugin>
{% endif %}

<Plugin "vmem">
  Verbose {{ collectd_plugin_vmem_verbose | string | lower }}
</Plugin>
