LoadPlugin write_prometheus

<Plugin "write_prometheus">
{% if collectd_plugin_write_prometheus_port is defined %}
  Port "{{ collectd_plugin_write_prometheus_port }}"
{% endif %}
{% if collectd_plugin_write_prometheus_staleness_delta is defined %}
  StalenessDelta {{ collectd_plugin_write_prometheus_staleness_delta }}
{% endif %}
</Plugin>
